/*      APP-WIDE     */

body {
  font-size: 24px;
  font-weight: 500;
  font-family:Arial, Helvetica, sans-serif;
}

button{
  cursor: pointer;
  background: none;
  border: none;
}
button:hover{
  background-color: #BBBBBB;
  border-radius: .1rem;
}

/*      NAVIGATION     */

.nav-link-list a {
  color: inherit;
}

.nav-link-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin-top: 10vh;
}

.nav-link-list > li {
  list-style-type: none;
}
.nav-link {
  text-decoration: none;
  /* color: black; */
}


/*      MAIN CONTENT     */

.container{
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #app-name{
  color: #13e7dd;
} */

.carousel-button{
  padding: 0 .5rem;
  height: 50vh;
  color: inherit;

}
.coming-soon{
  font-size: 12px;
}


.settings{
  display: flex;
  justify-content: space-between;
}

.activeButton{
  color: #2ED9EB;
}

.difficultyButton:hover{
  background: none;
}
