@import './bittynote/note.css';

/*      APP-WIDE     */

body {
  font-size: 24px;
  font-weight: 500;
  font-family:Arial, Helvetica, sans-serif;
}

button{
  cursor: pointer;
  background: none;
  border: none;
  margin: 1px;
}
button:hover{
  /* margin: 0; */
  /* background-color: #BBBBBB; */
  /* background-color: #dd736b; */
  /* border-bottom-color: black;
  border-bottom-style: solid;
  border-left-width: 1px; */
  box-shadow: 1px 2px red;
  border: 1px solid blue;
  border-radius: .3rem;
}

/*      NAVIGATION     */

.nav-link-list a {
  color: inherit;
}

.nav-link-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin-top: 10vh;
}

.nav-link-list > li {
  list-style-type: none;
}
.nav-link {
  text-decoration: none;
  /* color: black; */
}


/*      MAIN CONTENT     */

#bitty{
  font-family: 'Press Start 2P';
  font-size: 3rem;
}

.main-text{
  font-size: 4rem;
  margin: 0;
}

.container{
  /* margin-top: 10vh; */
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #app-name{
  color: #13e7dd;
} */

.carousel-button{
  padding: 0 .5rem;
  height: 2rem;
  width: 2rem;
  color: inherit;

}
.coming-soon{
  font-size: 12px;
}


.settings{
  display: flex;
  justify-content: space-between;
}

.activeButton{
  color: #2ED9EB;
}

.difficultyButton:hover{
  background: none;
}

#errors{
  color: red;
}
