@import './bittynote/note.css';
@import './bittymath/math.css';
@import './bittyshop/shop.css';

body {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  font-family:Arial, Helvetica, sans-serif;
}

.bittyFont,
#options,
#options > *,
aside button,
nav > ul > li > button,
#app-header {
  font-family: 'VT323';
}



/*      BUTTONS     */
button,
input[type=submit]{
  background: none;
  border: 1px solid transparent;
  border-width: 1px;
  border-radius: .3rem;
}

button:hover,
input[type=submit]:hover{
  border: 1px solid #eaeaea;
  transition: all 300ms;
}

.submitButton{
  padding: 0 1rem;
}

/*      NAVIGATION     */
nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 5vh 0;
  font-size: 1rem;
}

nav > ul > li > button {
  color: inherit;
  font-size: 1.5rem;
}

/*      CONTENT     */
#app-header{
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

#app-name{
  margin-left: 1rem;
}

#container{
  height: calc(100vh - 11rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 700px) {
 #container{
   flex-direction: column;
 }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside button{
  padding: 0 .5rem;
  height: 2rem;
  width: 2rem;
  color: inherit;

}
.welcome{
  font-size: 12px;
}

.activeButton{
  color: #2ED9EB;
}

#errors{
  color: red;
}

#options{
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: 2rem;
}

.bone{
  margin: 2rem 0;
}
