#notebook{
  width: 500px;
  height: 500px;
  overflow: scroll;
  padding: 1rem;
  box-sizing: border-box;
}

.note{
  margin: 1rem;
  border: 1px solid #dadada;
  border-radius: .2rem;
  padding: 1rem;
}

.noteText{
  font-size: 1rem;
  padding-bottom: 1rem;
  font-family: 'Kalam';
  text-align: left;
}

.noteAdmin{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .5rem;
}

.noteAdmin button {
  margin-left: .5rem;
}

#noteForm{
  width: 100%;
  padding: 0 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.noteInput{
  height: 2.5rem;
  padding: 0 .5rem;
  font-size: 1rem;
  width: 70%;
  line-height: 1rem;
  border-radius: 3px;
  border-color: #aaaaaa;
  font-family: 'Kalam';
}

#editNoteForm{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
