#math{
  height: 400px;
  width: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

#lcd{
  text-align: right;
  padding: 1rem;
  font-size: 2rem;
  overflow: scroll;
  border: 1px solid #eaeaea;
  border-radius: .25rem;
  margin-bottom: 1rem;
}

#numbers{
  align-content: center;
  width: 100%;
  font-size: 1rem;
}

#numbers button{
width: 33%;
height: 25%;
padding: 1rem;
}
