html, body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2, ul, li{
  margin: 0;
}

canvas{
  border: 5px solid;;
  border-color: #2ED9EB;
}

main{
  display: flex;
}

#settings{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 6rem;
  width: 180px;
  height: 400px;
  border: 5px solid rgb(157, 68, 240);
}

#buttonList{
  list-style-type: none;
  padding: 0;
  width: 100%;
}

#buttonList button {
  width: 100%;
  padding: 1.4rem 0;
  margin: 0;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
}
#buttonList button:hover {
  background-color: rgb(157, 68, 240);
}

.activeButton{
  background-color: #2ED9EB;
}

#scoreH2{
  text-align: center;
  margin-bottom: 4rem;

}

#mode, #score {
  margin-top: 12px;
  margin-bottom: 12px;
}
